* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    list-style: none;
}

.features{
    height: 100vh;
}

.icon {
    text-align: center;
    margin-left: 40%;
    color: #f63854;
    font-size: 300%;
    /* padding-left: 5rem; */
    margin-bottom: 0.9rem;
}

.container {
    margin-bottom: 30px;
    padding: 20px;
    margin-right: 15px;
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
    width: 300px;
    transition: transform 0.4s;
}

.container:hover {
    transform: scale(1.05);
}

.heading-para {
    font-size: 130%;
    padding: 8rem;
    margin-bottom: 2rem;
}

h3 {
    font-weight: 300;
    font-size: 125%;
    margin-bottom: 1em;
    text-align: center;
}

.feature-para {
    line-height: 145%;
}


h2 {
    font-size: 225%;
    text-align: center;
    /* font-weight: 300; */
    text-transform: uppercase;
    width: fit-content;
    border-bottom: 4px solid #f63854;
    margin: 0em 0em 1em 0em;
    color: gray;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}