/* Write CSS code here */
:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    background-color: grey;
}